.weight{
    font-weight: 500;
    font-size: 18px;
}
a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(66, 66, 66);
    line-height: 32px;
}
a:hover{
    color: rgb(56, 126, 209);
}
.all p{ 
    font-size: 12px;

color: rgb(155, 155, 155);
}
.icon i{
    margin: 8px;
    font-size: 20px;
    color: 
    rgb(66, 66, 66);
}
hr{
width: 80%;
        
        border-top: 1px solid #b3b2b2;
  
}
.last{
text-align: center;
    
}
.last span{
margin: 10px;
line-height: 48px;
font-size: 12px;
color: rgb(155, 155, 155);
}
.last span:hover {
    color: rgb(56, 126, 209);
}