@media (max-width: 767px) {
    .custom-img {
      max-width: 130px;
      max-height: 130px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .custom-img {
      max-width: 200px;
      max-height: 200px;
    }
  }
  
  @media (min-width: 992px) {
    .custom-img {
      max-width: 250px;
      max-height: 250px;
    }
  }
  
  @media (max-width: 991px) {
    .custom-container {
      max-width: 100% !important;
      padding-left: 0;
      padding-right: 0;
    }
  }
  